.carrecontainer1,.carrecontainer2{
display: flex;
gap: 10px;
padding: 5px;
margin: 5px;
justify-content: center;

}

.carre{
    width: 200px;
    height: 200px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: transform 1s ease-in-out, background-color 1s; 
}

.carre.modifie {
    transform: scale(0.9) rotate(360deg);
    background-color: rgb(168, 2, 2);
}